<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/devicons/css/devicons.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet">

 </head>
  <body style="background: rgb(0,0,0); background: linear-gradient(315deg, rgba(0,0,0,1) 0%, rgba(213,216,223,0.22450987230829833) 46%, rgba(4,31,233,1) 100%); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
<!--  <body style="background-color:#ccc;"> -->
<!--  <body style="background-image: url({{ url_for('static', filename='images/background.jpg') }}); background-size: 100% 130%;" > -->
  <div class="login-box" >
  <div class="login-header">Login</div>
  <div class="login-body">
    <p class="pstyle">Please enter your username and password</p>
    <form class="form-group" action="{{ url_for('login') }}" method="post">
        <label class="pstyle">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username" id="username" required>
        <label class="pstyle">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" id="password" required>
        <input type="checkbox" value="checked"><b>Remember</b>
        <input type="submit" value="Login" class="login-btn" name="">
<!--        <input type="submit" value="Login" class="login-btn form-control" style="border-radius: 5rem; position: center; background-color: transparent" name="">
<!--        <input type="submit" value="Login" class="form-control btn btn-success " style="background-color: #6e5995; border-color: #6e5995;" name=""> -->
    
    </form>
    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <p>No account <a href="{{ url_for('register') }}">Register</a></p>
  </div>
 </div>
 </body>
</html>
